::-webkit-input-placeholder /* WebKit browsers */
    color: #6A6D76
    font-size: 16px
    font-family: 'Poppins-Regular'

::-moz-placeholder /* Mozilla Firefox 19+ */
    color: #6A6D76
    font-size: 16px
    font-family: 'Poppins-Regular'

:-ms-input-placeholder /* Internet Explorer 10+ */
    color: #6A6D76
    font-size: 16px
    font-family: 'Poppins-Regular'

html, body
    height: auto
    min-width: 1400px

#root > [class^='page']
    position: relative

.lt-spin
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.lt-main
    min-width: 1400px
    color: #fff

    .content
        padding: 0 20px
        max-width: 1560px
        margin: 0 auto

    &.page-trade

        .content
            max-width: none

.lt-right
    flex: 1
    box-sizing: border-box
    padding: 0 16px 0 0
