.header
    clear: both
    position fixed
    top: 0
    left 0
    width: 100%
    background: #fff
    box-shadow: 0px 1px 8px rgba(#000, .12)
    clear: both
    z-index: 1

    .logo
        width: 97px
        height: 32px
        background: #000
        background-size: 100% 100%
        float: left
        margin: 4px 0 0
        cursor: pointer
