.pageList
    padding: 20px

    .header
        display: flex

        .search
            display: flex
            flex: 1

            :global
                .ant-form-item
                    margin: 0

                .ant-form-item-explain-error
                    display: none

            .btn
                width: 80px
                height: 32px
                line-height: @height
                margin: 0 0 0 10px
        .add
            width: 80px
            height: 32px
            line-height: @height
            margin: 0 0 0 10px
    .list
        margin: 20px 0 0

        .btnWrap
            display: flex

            div
                padding: 0 5px
                cursor: pointer