.statusDialog
    .ant-modal-body
        padding: 0

    .ant-modal-content
        background: #39426D
        border-radius: 11px
        padding: 22px

    .statusTitle
        font-size: 16px
        color: #D0D9FF
        position: relative
        text-align: center

    .statusText
        color: #D0D9FF
        font-size: 12px

        span
            padding: 0 0 0 20px
